http://wages.domain {
    root /home/igor/wages/frontend/build
}
http://api.wages.domain {
    proxy / 127.0.0.1:8000 {
        transparent
    }
}
http://wages.domain/static {
    root /home/igor/wages/wages/staticfiles
}
