[Unit]
Description=Wages software for scales
After=network.target

[Service]
User=igor
Environment=ENV=nano
WorkingDirectory=/home/igor/wages
ExecStart=/home/igor/.local/bin/gunicorn --bind 127.0.0.1:8000 -w 1 --timeout 300 --access-logfile /var/log/gunicorn/access.log --error-logfile /var/log/gunicorn/error.log wages.wsgi:application
Restart=always

[Install]
WantedBy=multi-user.target
